.card{
    padding: 1vh;
    border: 1px solid black;
}

.card > *{
    margin-bottom: 1vh;
}

.card > h4{
    background-color: #222222;
    border-radius: 10px;
    color: #eeee00;
    padding-left: 1vw;
    font-size: 2vw;
}

.card p{
    color: #555;
    font-weight: bold;
    font-size: 1.5vw;
    display: flex;
}

.card p span{
    color: black;
}

.catg{
    display: block;
    height: 2vh;
    width: 2vh;
    border-radius: 50px;
    background-color: black;
}

.botao{
    font-size: 2vh;
    margin-right: 1vw;
}