.card{
    padding: 1vh;
    border: 1px solid black;
    width: 20%;
    margin: 0 2.5%;
    font-size: calc(0.5vmax + 1.5vmin);
}

.card > *{
    margin-bottom: 1vh;
}

.card > h4{
    background-color: #222222;
    border-radius: 10px;
    color: #eeee00;
    padding-left: 1vw;
    font-size: calc((1vh + 1vw) * 1.5);
}

.card > p{
    color: #555;
    width: 100%;
    font-weight: bold;
    font--size: calc(0.5vmax + 1.5vmin);
    font-size: 1em;
    text-wrap: wrap;
    display: flex;
    align-items: center;
}

.card p span{
    color: black;
}

.catg{
    display: block;
    height: 1vh;
    width: 1vh;
    border-radius: 50px;
    background-color: black;
}

.card > div{
    display: flex;
}

.botao{
    margin-right: 1vw;
    display: flex;
    justify--content: center;
    align-items: center;
}

.botao > a{
    font-size: 1em;
    margin-left: 2%;
}