.input{
    display: flex;
    flex-direction: column;
    text-align: start;
}

.input label{
    margin-bottom: 1%;
    font-weight: bold;
}

.input select{
    border: none;
    border-radius: 40px;
    padding: 1%;
    background-color: whitesmoke;
}

