.botao{
    background-color: #222222;
    color: aliceblue;
    padding: 1% 1.5%;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 30px;
    font-weight: bold;
}

.botao:hover{
    color: #eeee00;
    transform: 0.5s;
}