.principal{
    width: 100%;
    height: -1%;
    display: flex;
    flex-direction: column;
    background-color: #eeee;
    align-items: center;
    justify-content: center;
}

.principal img{
    height: -1%;
    width: 20%;
}

@media only screen and (max-width: 600px) {
    .principal img{
        width: 50%;
    }
}

.principal h1{
    font-weight: 900;
    color: #222222
}

.principal > *{
    font-weight: 100;
    font-size: 3vh;
    margin: 0.5vh 5vw;
    text-align: center;
}

.principal span{
    background-color: #222222;
    color: #eeee00;
    padding: 5px;
}

