.input{
    display: flex;
    flex-direction: column;
    text-align: start;
}

.input label{
    margin-bottom: 1%;
    font-weight: bold;
}

.input input{
    border: none;
    border-radius: 40px;
    padding: 1vh;
    background-color: whitesmoke;
}

.input input::placeholder{
    color: gray;
}

.submit input{
    transition: 0.5s;
    background-color: #222222;
    color: aliceblue;
    cursor: pointer;
}

.submit input:hover{
    transition: 0.5s;
    color:  #dddd00;
}