.msg{
    width: 50%;
    padding: 1%;
    border: 0.3vw solid black;
    border-radius: 30px;
    text-align: center;
}

.sucesso{
    coloor: greenyellow; 
    background-color: rgba(172, 255, 47, 0.226); 
    border-color: greenyellow;
}

.erro{
    color: #ff2222; 
    background-color: #ff222256; 
    border-color: #ff2222;
}